.chart {
  font-size: 15px;
  background: #fbfbfb;
  color: #74798c;

  border-radius: 5px;
  // display: grid;
  // align-items: center;
  flex: 2;
  // min-width: 500px;
  min-height: 320px;
  padding: 20px;
  position: relative;

  &__title {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #20253a;
  }

  &__tooltip {
    padding: 10px;
    background-color: #e60000;
    color: white;
    font-size: 10px;
    line-height: 24px;
    transform: translateX(20px);
  }

  &__legend {
    position: absolute;
    right: 0;
    display: flex;
    gap: 2em;
    font-size: 14px;
    color: #74798c;

    li {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }
}
