.container {
  background: #fbfbfb;
  border-radius: 5px;
  flex: 1;
}

.chart {
  position: relative;
  height: 100%;

  &__shape {
    min-width: 160px;
    min-height: 160px;
  }
  h2 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-weight: 500;
    font-size: 1em;
  }

  &__legend {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    text-align: center;

    h3 {
      font-size: 2em;
      line-height: 1.3em;
    }

    p {
      font-size: 1.1em;
      line-height: 1.8em;
      color: #888;
      font-weight: 500;
    }
  }
}
