.nav {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--color-black);
  color: var(--color-white);

  &__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  &__icon {
    height: 64px;
    width: 64px;
    display: grid;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 6px;

    img {
      height: 32px;
    }
  }

  &__text {
    font-size: var(--font-xs);
    transform: rotate(-90deg);
    width: max-content;
  }
}
