:root {
  --color-primary: #ff6060;
  --color-light-grey: #f7f7f7;
  --color-grey: #e3e3e3;
  --color-black: #000000;
  --color-white: #ffffff;

  --font-xxs: 10px;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 18px;
  --font-l: 24px;
  --font-xl: 36px;
  --font-xxl: 48px;
}
