.container {
  width: 100%;
  padding: 3em 5em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.header {
  h1 {
    font-size: 40px;
    font-weight: 500;
  }

  &__name {
    color: red;
  }

  p {
    margin-top: 20px;
    font-weight: 400;
  }
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 3em;
  justify-content: space-between;

  &__left {
    // border-radius: 25px;
    // background-color: #f7f7f7;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__right {
    // border-radius: 25px;
    // background-color: #f7f7f7;
    flex: 1;
  }

  &__activity {
    height: 320px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
