@import '../../../styles/mixins';

.container {
  flex: 1;
  min-width: 150px;

  display: flex;
  align-items: center;

  padding: 2em;
  gap: 1em;
  border-radius: 5px;
  background-color: #fbfbfb;

  @include desktop {
    padding: 1em;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.95em;
    color: #74798c;
  }
}
