// @import 'styles/mixins.scss';

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: space-center;
  align-items: center;
  text-align: center;
  flex-grow: 1;

  h1 {
    font-size: 100px;
  }

  h2 {
    font-weight: 500;
    font-size: var(--font-xl);
  }

  a {
    margin-top: 100px;
    text-decoration: underline;
  }
}
